/*

In this file:

// A. SCSS imports (required)
// B. Theme styles

*/

////////////////////////////////////////
// A. SCSS imports (Required)
////////////////////////////////////////

// Import custom SCSS

@import '_header.scss';
@import 'a-global-variables.scss';
@import 'b-bootstrap-imports.scss';
@import 'c-custom-mixins.scss';
@import 'd-enhancements.scss';
@import 'e-supplementary-classes.scss';
@import 'f-layout-elements.scss';
@import 'g-dev-tools.scss';
@import 'h-nyc-subway-icons.scss';

////////////////////////////////////////
// B. Theme styles
////////////////////////////////////////

// Put anything you want here

h1 {
  text-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
}

h2 {
  margin-bottom: 0.75em;
}

h3 {
  margin-top: 1em;
}

a {
  color: $secondary;
  &:hover {
    color: darken($secondary, 20%);
  }
}

.wide {
  text-align: center;
}

.extensible-list li {
  margin-bottom: 0.625em;
  &:last-child {
    margin-bottom: 0.125em;
  }
  a {
    display: inline-block;
    line-height: 1.25;
  }
}

#quick-links {
  background-color: $gray-200;
  .card {
    background-color: $white;
    .btn {
      background-color: $white;
      border-color: $primary;
      color: $primary;
      &:hover {
        background-color: $primary;
        color: $white;
      }
    }
  }
}

.list-group.custom-active {
  a.active {
    background-color: unset;
    font-weight: $font-weight-bold;
    border-color: $border-color;
    border-left-color: $info;
    border-left-width: ($border-width * 2);
    color: $info;
  }
}

ul li {
  margin-bottom: 1em;
}

.leadership-card {
  background-color: $cream;
  margin-top: 2rem;
  padding: 1.5rem;
  > div {
    padding: 0;
  }
  .card-header {
    h3 {
      margin-top: 0;
      margin-bottom: 0.5em;
    }
  }
  .card-body {
    border-top: 1px solid rgba(black, 0.15);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
}

#about-istr {
  .accordion-group {
    h3 {
      margin-top: 1.5em;
    }
    .card {
      margin-bottom: 1.5em;
    }
  }
}

#job-openings {
  margin-top: 3rem;
}

#news,
#reports,
#testimony {
  .intro {
    border-bottom: 1px solid darken($light, 5%);
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
  }
  h6 {
    border-top: 1px solid darken($light, 5%);
    padding-top: 1em;
    margin-top: 1em;
    display: inline-block;
    width: 100%;
    color: $gray-600;
    font-size: 0.875rem;
    text-transform: uppercase;
  }
  h5 {
    margin-bottom: 1em;
    line-height: 1.375;
    a {
      color: $primary;
      &:hover {
        color: $secondary;
      }
    }
    span {
      display: inline-block;
      width: 100%;
      font-size: 1.125rem;
      font-style: italic;
      font-weight: 500;
      color: $gray-600;
      margin-top: 0.5em;
    }
  }
  .btn {
    margin-bottom: 1em;
  }
}

#article {
  h1 {
    text-shadow: none;
    margin-bottom: 0.5em;
  }
}

#contact {
  h6 {
    margin-bottom: 2em;
  }
}

.featured-panel {
  .photo {
    background-image: url('../images/ose_web_home_2@3x.png');
    background-size: cover;
    background-position: 100% 100%;
    min-height: 50vw;
    @include media-breakpoint-up(xl) {
      min-height: 35vw;
    }
    @include media-breakpoint-down(md) {
      min-height: 30vw;
    }
    @include media-breakpoint-down(sm) {
      min-height: 60vw;
    }
  }
  .button {
    background-color: transparent;
    border-color: white;
    border-width: 2px;
    color: white;
    &:hover {
      border-color: white;
      background-color: $black;
    }
  }
}

.hero-1 {
  background-image: url(../images/ose_web_manhattan_04A@3x.png);
  background-size: cover;
  background-position: 50% 50%;
  &:before {
    display: none;
  }
}

.hero-2 {
  background-image: url(../images/ose_web_brooklyn_04A@3x.png);
  background-position: 50% 50%;
  background-size: cover;
  &:before {
    display: none;
  }
}

.hero-3 {
  background-image: url(../images/ose_web_queens_04A@3x.png);
  background-position: 50% 50%;
  background-size: cover;
  &:before {
    display: none;
  }
}

.hero-4 {
  background-image: url(../images/ose_web_bronx_04A@3x.png);
  background-position: 50% 50%;
  background-size: cover;
  &:before {
    display: none;
  }
}

.hero-5 {
  background-image: url(../images/ose_web_statenIsl_04A@3x.png);
  background-position: 50% 50%;
  background-size: cover;
  &:before {
    display: none;
  }
}

.list-group-item {
  &.active {
    background: $black;
    border-color: $black;
  }
}

.fines-table {
  width: 100%;
  background: $cream;
  display: flex;
  flex-direction: column;
  line-height: 1.25;
  .t-row {
    width: 100%;
    display: flex;
    &.t-header {
      font-size: 1rem;
      text-transform: uppercase;
      .t-cell {
        background: $primary !important;
        color: white !important;
        padding: 0.5rem;
        font-weight: 700 !important;
        &:not(:first-child) {
          border-left: 1px solid rgba($cream, 0.5);
        }
      }
    }
    .t-cell {
      display: flex;
      flex-direction: column;
      flex: 1;
      text-align: center;
      padding: 1rem 1.5rem;
      justify-content: center;
      align-items: center;
      &:first-child {
        flex: none;
        width: 33.3%;
        background: $secondary;
        color: white;
        font-weight: 500;
      }
      .subhead {
        margin-bottom: 0.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        span {
          display: inline-block;
          font-size: 0.75em;
          opacity: 0.667;
        }
        &:after {
          content: '';
          display: block;
          width: 2rem;
          height: 1px;
          background: currentColor;
          margin: 0.5rem 0 0;
          opacity: 0.5;
        }
      }
    }
    &:nth-child(odd) {
      background: darken($cream, 5%);
      .t-cell:first-child {
        background: darken($secondary, 7.5%);
      }
    }
  }
  .amount {
    width: 100%;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0.25em;
    color: darken($secondary, 20%);
  }
  .caption {
    display: block;
    font-size: 1rem;
    font-style: italic;
    padding: 1em 1em 0.5em;
    color: rgba(black, 0.667);
    text-align: left;
    span {
      display: inline-block;
    }
  }
  .cap-symb {
    font-weight: 400;
    display: inline;
    font-style: normal;
  }
  @media (max-width: 767px) {
    .t-row {
      flex-wrap: wrap;
      padding-bottom: 1.5rem;
      border-bottom: 0.5rem solid white;
      &.t-header {
        display: none;
      }
      .t-cell {
        &:first-child {
          width: 100%;
        }
        &:not(:first-child) {
          padding-bottom: 0;
        }
      }
    }
  }
}

.button,
%button {
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0;
  color: $primary;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  border: 1px solid currentColor;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  &:hover {
    color: white;
    background-color: $primary;
    border-color: $primary;
  }
}

#sidebar-nav {
  > nav {
    @media (max-width: 1199px) {
      padding-top: 1px !important;
    }
  }
}

#mission-and-vision {
  ul {
    list-style: none;
    padding-left: 0;
    li {
      margin: 1.75em 0 1em;
      strong {
        display: inline-block;
        width: 100%;
        margin-bottom: 0.25em;
      }
    }
  }
}

// QUIZ ///////////////////////////////////////////////

#quiz {
  margin-top: 2rem;
  padding: 2rem 1.5rem;
  background-color: $cream;
  text-align: center;
  > div {
    display: none;
  }
  .question-wrap {
    border-bottom: 1px solid rgba(black, 0.15);
    padding-bottom: 2rem;
    img {
      width: 150px;
      height: 150px;
      margin-top: -1.5rem;
    }
    .question {
      font-size: 2.5rem;
      line-height: 1.125;
      margin-bottom: 1em;
    }
    .description {
      margin-top: -1.5em;
      margin-bottom: 2em;
      font-style: italic;
    }
    .answer {
      @extend %button;
      user-select: none;
    }
  }
  #results {
    > div {
      display: none;
    }
    .headline {
      font-size: 2.5rem;
      line-height: 1.125;
      margin-bottom: 0.75em;
      .legality {
        .probably {
          display: inline;
        }
        .maybe {
          display: none;
          color: $orange;
        }
        .l {
          display: inline;
          color: $green;
          font-style: italic;
        }
        .i {
          display: none;
          color: $red;
          font-style: italic;
        }
        &.illegal {
          .l {
            display: none;
          }
          .i {
            display: inline;
          }
        }
        &.unknown {
          .probably {
            display: none;
          }
          .maybe {
            display: inline;
          }
          .l {
            display: none;
          }
          .i {
            display: inline;
            color: $orange;
          }
        }
      }
    }
    .gt30-description {
      display: none;
      margin-bottom: 1.5em;
    }
    .details {
      .description {
        font-weight: 700;
        margin-bottom: 1.5em;
        background: darken($cream, 5%);
        padding: 0.5em;
      }
      ul {
        text-align: left;
        list-style: none;
        position: relative;
        padding-left: 2.75rem;
        li {
          font-size: 1.5rem;
          line-height: 1.25;
          color: $green;
          font-weight: 600;
          &:before {
            content: '✓';
            position: absolute;
            left: 0;
            width: 1.5em;
            height: 1.5em;
            border: 2px solid currentColor;
            border-radius: 50%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &.illegal {
            color: $red;
            &:before {
              content: '✗';
            }
          }
          .if-unknown {
            display: none;
          }
          &.unknown {
            color: $orange;
            &:before {
              content: '!';
            }
            .if-unknown {
              display: block;
              margin-top: 0.5em;
              margin-bottom: 1.5em;
              font-style: normal;
              font-weight: 600;
            }
          }
          .subtext {
            font-size: 1.125rem;
            font-style: italic;
            font-weight: 400;
            line-height: 1.5;
            margin-top: 0.5em;
            color: $gray-700;
          }
        }
      }
    }
    .read-more {
      display: block;
      margin-top: 3em;
      padding: 1em 0 1.5em;
      border-bottom: 1px solid rgba(black, 0.25);
      border-top: 1px solid rgba(black, 0.05);
      font-weight: 600;
    }
  }
  #reset {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    color: rgba(black, 0.4);
    margin-top: 1em;
    cursor: pointer;
    transition: color 0.5s ease;
    &:hover {
      color: $secondary;
    }
  }
}
